body{
    background: rgb(255,255,255);
    background: linear-gradient(267deg, rgba(255,255,255,1) 6%, rgba(0,180,254,0.9612219887955182) 100%);   
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin:10%;
    padding: 1%;
}
.nav div button{
    border:0px;
    border-radius: 7px;
    padding: 7px;
    
}
.main div button{
    display: flex;
    align-content: center;
    border:0px;
    border-radius: 7px;
    padding: 7px;
    
}
.main div textarea{
    padding-top: 11%;
}
.nav div textarea{
    padding-top: 10px;
}
textarea{
    resize: none;
    text-align: center;
    padding-top:  3%;
    border-radius: 10px;
}
